/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.custom {
    color: red;
}

main[role=main] .card {
    margin-bottom: 2em;
}

#comments {
    border: none;
    padding-bottom: 0 !important;
}

#comments > .card-body {
    padding-bottom: 0 !important;
}

.navRight {
    margin-right: 10em;
}

.list-no-style {
    list-style: none;
}