{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <main role="main" class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ post.title }}</h5>
            </div>
            <div class="card-body">
                <hr style="width:75%;"/>
                <p class="card-text">{{ post.text|safe|linebreaks }}</p>
                <hr style="width:75%;"/>
                <p class="card-text"><i><small><b>Last Modified:</b> {{ post.modified|timesince }} ago</small></i></p>
                <p class="card-text"><i><small><b>Published:</b> {{ post.created_date|timesince }} ago</small></i></p>

            </div>
        </div>
    </main>
{% endblock %}